trading-backend/target/
trading-backend/.mvn/wrapper/maven-wrapper.jar
trading-backend/!**/src/main/**/target/
trading-backend/!**/src/test/**/target/
trading-backend/.env
trading-backend/*.md

### STS ###
trading-backend/.apt_generated
trading-backend/.classpath
trading-backend/.factorypath
trading-backend/.project
trading-backend/.settings
trading-backend/.springBeans
trading-backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
trading-backend/nbproject/private/
trading-backend/nbbuild/
trading-backend/dist/
trading-backend/nbdist/
trading-backend/.nb-gradle/
trading-backend/build/
trading-backend/!**/src/main/**/build/
trading-backend/!**/src/test/**/build/

### VS Code ###
.vscode/
